.todoWrapper {
    box-sizing: border-box;
    padding: 1.5rem;
    position: relative;
}

.card {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.5rem;

    background: #eee;
    color: #333;
}

.card-content {
    width: 50%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    font-size: 14px;
    word-break: break-all;
}

.card-btn {
    display: flex;
    align-items: center;
}

.btn {
    /*border: 1px #DADADA solid;*/
    padding: 8px 10px;
    /*margin-left: 0.5rem;*/
    margin-right: 0.5rem;
    min-width: 8vw;
    border-radius: 6px;
    font-weight: bold;
    font-size: 1rem;
    outline: none;
    white-space: nowrap;
}

.btn:hover {
    box-shadow: 1px 1px 1px #EAEAEA;
    cursor: pointer;
}

.finish-btn { background: #333;color: #eee;}

.del-btn { background: orangered;olor: #eee;}

.finish-text { text-decoration: line-through;}

.newItem {
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #333;
    background: orange;
    font-weight: bolder;
    font-size: 15px;

    box-shadow: 0 0 12px 2px #aaa;
}

.newItem:hover {cursor: pointer;}

@media (max-width: 700px) {
    .card {
        width: 98%;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .btn {font-size: 0.8rem;}

    .newItem {
        right: 0;bottom: -4rem;
        box-shadow: 0 0 12px 2px #444;
    }
}

@media (min-width: 700px) {
    .card {min-height: 4rem;}
}