.display {
    font-size: 144px;
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnWrapper {
    flex: 1;
    display: flex !important;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.secondLine {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

button {
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 10px 10px;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 10vw;
    border-radius: 6px;
    font-weight: bold;
    font-size: 20px;
    outline: none;
}

button:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
}

button:active {
    box-shadow: inset 1px 1px 1px #DFDFDF;
}

.ban {
    cursor: not-allowed;
}